<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Attendify</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link src="{% static 'js/scroll.js' %}">

</head>
<body>
    <script>
        window.onload = function () {
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
    
            window.onpageshow = function (event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
        };
    </script>
    
    <div class="container">
        <h1>Welcome in Attendify!</h1>
        <form action="" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <label  for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username"><br>
            <label  for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"><br>
            <button type="submit">Login</button>
            
            <div class="signup-button">
                <a href="/signup/">Don't have an account? Sign up here</a>
            </div>
        </form>
    </div>
</body>
</html>
