<!-- YourAppName/templates/your_signup_template.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Sign up</h3>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username"><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password"><br>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Re-enter your password">
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
